<h2>Assignments</h2>
<h4>Game-Control (A.5)</h4>
<app-game-control
  (numIncremented)="onNumIncremented($event)"
  (reset)="onReset($event)">
</app-game-control>
<hr>
<div class="row">
  <div class="col-xs-6">
    <app-even *ngFor="let odd of odd_data" [data]="odd">
      ODD - {{ odd }}
    </app-even>
  </div>
  <div class="col-xs-6">
    <app-odd *ngFor="let even of even_data" [data]="even">
      EVEN - {{ even }}
    </app-odd>
  </div>
</div>
<hr>
<h4>
  Directives (A.7)
  <div style="font-size: 12px">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      Zwei structural directives in einem Element führt zu einem Fehler.
  </div>

</h4>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary"
      (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
    <br><br>
    <ul class="list-group">
      <div *ngIf="onlyOdd">
        <li class="list-group-item"
          *ngFor="let number of odd_numbers"
          [ngClass]="{odd: number % 2 !== 0}"
          [ngStyle]="{backgroundColor: number % 2 !== 0 ? 'yellow' : 'transparent'}">
          {{ number }}
        </li>
      </div>
      <div *ngIf="!onlyOdd">
        <li class="list-group-item"
            *ngFor="let number of even_numbers"
            [ngClass]="{odd: number % 2 !== 0}"
            [ngStyle]="{backgroundColor: number % 2 !== 0 ? 'yellow' : 'transparent'}">
          {{ number }}
        </li>
      </div>
    </ul>
    <p appBasicHighlight>Style me with basic directive</p>
    <p appBetterHighlight>Style me with a better directive</p>
    <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'purple'">
      Style me with a better directive
    </p>
  </div>

</div>
