<div class="row">
  <div class="col-xs-6">
    <button (click)="onClick()" class="btn btn-primary">
      Display Details
    </button>
    <p style="display: inline" *ngIf="displayDetails">
      Lorem ipsum dolor sit amet
    </p>
  </div>
</div>
<ul class="list-group">
  <li *ngFor="let message of messages, let i = index"
      class="list-group-item"
      [ngStyle]="{background: ( i > 3 ? 'blue' : 'white' ) }"
      [ngClass]="{'white-text': ( i > 3 )}">
    <p>{{ message }}</p>
  </li>
</ul>
