<h2>
  {{ title }}
</h2>
<h4>
  String Interpolation
</h4>
<p>
  Hello, i am {{ myName }}!
</p>
<hr>
<h4>
  Property-Binding
</h4>
<ul class="list-group">
  <li class="list-item">
    <p>Bind a property with curly brackets (left-side of the equation) or square brackets (right side of the equation)</p>
    <input type="text" value="{{ aNumber }}">
    <input type="text" [value]="aNumber">
  </li>
  <li class="list-item">
    <p>Bind a JavaScript-Object to the ngClass-Directive and ngStyle-Directive</p>
    <div [ngClass]="{'red-border': attachClass}"
         [ngStyle]="{'background-color': 'lightblue', width: '100px', height: '100px'}">
      Text
    </div>
  </li>
  <li class="list-item">
    <p>Bind properties to a custom component with Input()</p>
    <app-property-binding [myName]="'Lars'" myAge="{{ 30 }}"></app-property-binding>
  </li>
</ul>

<hr>
<h4>
  Event-Binding
</h4>
<app-event-binding (moo)="sayMoo($event)"></app-event-binding>
<p>{{ moo }}</p>
<hr>
<h4>
  Tow-way-databinding with ngModel
</h4>
<div class="row">
  <div class="col-xs-6">
    <input type="text" placeholder="username" [(ngModel)]="username">
    <p style="display: inline">
      {{ username }}
    </p>
  </div>
</div>
<button class="btn btn-primary"
  (click)="username=''"
  [disabled]="!username">
  Reset
</button>
<hr>
