<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <header>
        <ul class="nav nav-pills">
          <li role="presentation" [ngClass]="{ active: viewName === '/servers' }">
            <a href="#" (click)="viewName = '/servers'" routerLink="/servers">Servers</a>
          </li>
          <li role="presentation" [ngClass]="{ active: viewName === '/practice/databinding' }">
            <a href="#" (click)="viewName = '/practice/databinding'" routerLink="/practice/databinding">
              Databinding
            </a>
          </li>
          <li role="presentation" [ngClass]="{ active: viewName === '/practice/directives' }">
            <a href="#" (click)="viewName = '/practice/directives'" routerLink="/practice/directives">
              Directives
            </a>
          </li>
          <li role="presentation" [ngClass]="{ active: viewName === '/practice/custom-directives' }">
            <a href="#" (click)="viewName = '/practice/custom-directives'" routerLink="/practice/custom-directives">
              Custom Directives
            </a>
          </li>
          <li role="presentation" [ngClass]="{ active: viewName === '/practice/security' }">
            <a href="#" (click)="viewName = '/practice/security'" routerLink="/practice/security">
              Security
            </a>
          </li>
        </ul>
      </header>
      <h1>Angular6 (formerly known as Angular 2)</h1>
      <h1>- The Complete Guide</h1>
      <hr>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
