<h4>Welcome to Server Manager 4.0</h4>
<p>Manage your Servers and Users.</p>
<div class="row">
  <div class="col-xs-8">
    <button class="btn btn-primary"
      (click)="onLoadServers()"
      title="Programmatic Routing">
      Load Servers
    </button>
    <button class="btn btn-primary"
            (click)="onLoadServer(1)"
            title="Programmatic Routing">
      Load Servers 1
    </button>
    <button class="btn btn-primary"
            (click)="onLoadUsers()"
            title="Programmatic Routing">
      Load Users
    </button>
    <button class="btn btn-primary"
            (click)="onLogin()">
      Login
    </button>
    <button class="btn btn-primary"
            (click)="onLogout()">
      Logout
    </button>
  </div>
</div>
