<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <header>
        <ul class="nav nav-pills">
          <li role="presentation" routerLinkActive="active">
            <a routerLink="templatedriven">
              Template-Driven
            </a>
          </li>
          <li role="presentation" routerLinkActive="active">
            <a routerLink="templatedriven-assign">
              Template-Driven (Assignment)
            </a>
          </li>
          <li role="presentation" routerLinkActive="active">
            <a routerLink="reactive">
              Reactive
            </a>
          </li>
          <li role="presentation" routerLinkActive="active">
            <a routerLink="reactive-assign">
              Reactive (Assignment)
            </a>
          </li>
        </ul>
      </header>
      <hr>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>